main{
    background-color: $mainBG;
    padding: 20px;
    position: relative;

    nav{
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .home_icon, p, a{
            margin-right: 10px;
        }

        .home_icon{
            background-color: $white;
            color: $blue2;
            font-size: 26px;
            padding: 15px 15px;
            display: flex;
            justify-content: center;
            text-decoration: none;
        }

        p{
            color: $orange;
            font-weight: bold;
           }
        
        a{
            background-color: $white;
            padding: 15px 15px;
            justify-content: center;
        }
            
        .nav_link{
            color: $blue2;
        }

    }

    .big_title, .white_square .filter{
        font-weight: normal;
        color: $blue2;
    }

    .white_square{
        background-color: $white;
        padding: 20px;
        margin: 15px 0;
        box-shadow: 1px 1px #aaaaaa;

        .index_img{
            height: 100%;
            width: 100%;
            padding-bottom: 20px;
        }

        .a_la_une{
            text-align: center;

            a{
                text-decoration: none;
                color: $blue1;
                cursor: pointer;
            }

            img{
                margin-bottom: 40px;
                width: 50%;
                height: auto;
                cursor: pointer;
            }
        }

        .white_square_title{
            color: $blue2;
            font-weight: bold;
            font-size: 28px;
        }

        .date{
            color: $blue2;
        }

        .maj{
            color: black;
            display: flex;
            justify-content: flex-end;
        }

        .cart_top p, .cart_top form{
            color: black;
            border-bottom: solid 1px $blue2;
            padding: 20px 10px 10px 20px;
            display: block;
        }

        label{
            display: block;
            color: $blue2;
            font-weight: bold;
            font-size: 20px;
        }

        #quantity, #min_quantity, #max_quantity{
            border: none;
            border-bottom: solid 1px $blue2;
        }

        .value{

            label{
                color: black;
                font-weight: normal;
            }
            
            #min_quantity, #max_quantity{
                padding-left: 10px;
                border: none;
                border-bottom: solid 1px $blue2;
                width: 100%;
                margin-bottom: 30px;
            }
        }

        .slider{
            width: 100%;
        }

        .cart_bot p{
            color: black;
            padding: 20px 10px 10px 20px;
            display: block;
            text-align: right;
        }
        
        .cart_bot .price{
            color: $blue2;
            margin-bottom: 30px;
        }

        #email, #password{
            display: inline;
            border-style: none;
            border-bottom: solid 1px $blue2;
            margin: 10px 0;
            width: 100%;
        }

        .font_align_right{
            position: relative;

            #rue_livraison, #rue_facturation, #num_maison_livraison, #num_maison_facturation, #localité_livraison, #localité_facturation, #code_postal_livraison, #code_postal_facturation, #email, #mdp, #mdp_confirmation, #prénom, #nom, #birthday, #telephone ,#sujet, #sujet_detail{
                display: inline;
                border-style: none;
                border-bottom: solid 1px $blue2;
                margin: 10px 0 30px 0;
                width: 100%;
                max-width: 100%;
            }

            #pays_livraison, #pays_facturation, #moyen_de_paiement{
                background-color: $mainBG;
                margin: 10px 0 20px 0;
            }
        }
        
        #rue, #num_maison, #localité, #code_postal, #email, #mdp, #mdp_confirmation, #prénom, #nom, #birthday, #telephone ,#sujet, #sujet_detail{
            display: inline;
            border-style: none;
            border-bottom: solid 1px $blue2;
            margin: 10px 0 30px 0;
            width: 100%;
            max-width: 100%;
        }

        .commande-responsive{
            
            .fa-home, .fa-tag, .fa-industry, .fa-globe, .fa-credit-card{
                position: absolute;
                right: 0;
                bottom: 35px;
            }
        } 

        .CGV{
            display: flex;
            flex-direction: row;
            
                #CGV{
                    display: inline;
                }
                
                label{
                    width: auto;
                    min-width: 0;
                    padding-bottom: 20px;
                }

            }

        .checkboxes label, .checkboxes input{
            color: black;
            display: inline-block;
            font-weight: normal;
            font-size: 16px;
        }

        .connexion{

            .vconnexion{
                color: $white;
                background-color: $blue1;
                border-color: $blue1;
                border-style: solid;
                margin: 10px 0 0 0;
                padding: 10px;
                border-radius: 5px;
                display: table;
                width: auto;
                min-width: 0%;
                text-decoration: none;
            }

            .cogoogle{
                color: $blue1;
                border-color: $blue1;
                border-style: solid;
                padding: 10px;
                margin-bottom: 40px;
                width: auto;
                display: flex;
                align-items: center;
                vertical-align: middle;
                border-radius: 5px;
            }

            p{
                color: $blue2;
                font-size: 18px;
                font-weight: bold;
            }
        }

        .vconnexion{
            color: $white;
            background-color: $blue1;
            border-color: $blue1;
            border-style: solid;
            margin: 10px 0;
            padding: 5px;
            margin-bottom: 40px; 
            border-radius: 5px;
            display: table;
            width: auto;
            min-width: 0%;
            text-decoration: none;
        }

        .valider{
            color: $white;
            background-color: $blue1;
            border-color: $blue1;
            border-style: solid;
            margin: 10px 0;
            padding: 5px;
            margin-bottom: 40px; 
            border-radius: 5px;
            display: inline-block;
        }

        .align_right{
            display: flex;
            justify-content: flex-end;
        }
            
        .passer_commande{
            color: $white;
            background-color: $blue1;
            border-color: $blue1;
            border-style: solid;
            margin: 10px 0;
            padding: 5px;
            margin-bottom: 40px; 
            border-radius: 5px;
            text-decoration: none;
        }

        .inscription{
            color: $white;
            background-color: $blue1;
            border-color: $blue1;
            border-style: solid;
            padding: 10px;
            margin-bottom: 10px;
            width: auto;
            min-width: 0;
            display: table;
            border-radius: 5px;
            text-decoration: none;
        }

        .cogoogle{
            color: $blue1;
            border-color: $blue1;
            border-style: solid;
            padding: 10px;
            margin: 10px 0;
            width: 160px;
            display: flex;
            align-items: center;
            vertical-align: middle;
            border-radius: 5px;
        }

        .cogoogle{
            color: $blue1;
            border-color: $blue1;
            border-style: solid;
            padding: 10px;
            margin: 10px 0;
            width: 160px;
            display: flex;
            align-items: center;
            vertical-align: middle;
            border-radius: 5px;

            img{
                height: 20px;
                width: 20px;
                padding: 5px;
                text-align: center;
            }
        }
    }

        .description{
                display: block;
                padding: 10px 0;
            
                p{
                    color: gray;
                    display: block;
                    padding-bottom: 5px;
                }

                .achat p{
                    color: $orange;
                    font-size: 18px;
                    padding: 10px 0;
                    font-weight: bold;
                }

                form{
                    display: inline;
                }

                a{
                    background-color: $blue1;
                    color: $white;
                    border-radius: 2px;
                    border: $blue1;
                    padding: 10px 10px;
                    text-decoration: none;
                }
            }

    .info_contact p{
        color: black;
        font-weight: normal;
        display: block;
    }

    .saint_laurent_map{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: table;
    }

    .map-responsive{

        iframe{
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    .ecranAOC{
        height: 100%;
        width: 100%;
    }

    .description h3{
        color: $blue2;
        font-size: 20px;
    }
    

    .button_number{ 

        .button_on{
            color: $orange;
            border: $orange 1px solid;
        }

        button{
            color: $blue2;
            border: $blue2 1px solid;
        }
    }   

    .article{
        background-color: $white;
        padding: 20px;
        margin: 15px 0;
        position: relative;

        .pc_gamer_hp{
            height: 200px;
            width: 200px;
            margin: 0;
        }
        
        h2{
            color: $blue2;
            border-bottom: 1px solid $blue2;
            width: auto;
            min-width: 0;
            display: table;
        }

        p{
            color: black;
            font-size: 14px;
            display: block;
        }
                
        .achat{

            p{
                color: $orange;
                font-size: 18px;
                display: inline;
            }

            a{
                background-color: $blue1;
                color: $white;
                border-radius: 2px;
                border: $blue1;
                padding: 10px 10px;
                position: absolute;
                right: 20px;
                bottom: 15px;
            }
        }
    }
    
    .hidden_content_panier{
        display: none;
    }

    .index-selection{

        .white_square{

            .index_img{
                height: auto;
                max-width: auto;
            }
        }

        .a_la_une-grid{
            display: grid;
            grid-template-columns: 30% auto;
            column-gap: 15px;
            margin-top: 20px;

            .white_square{
                max-width: 70%;
                max-height: 20%;

                .connexion{
                
                    h2{
                        color: $blue1;
                        font-weight: bold;
                        text-align: center;
                        margin-top: 50px;
                        word-wrap: break-word;
                    }
    
                    .cogoogle a{
                        word-wrap: break-word;
                    }
                }
            }

            .articles_box{
                max-width: 100%;
                
                .pc_gamer_hp{
                    max-width: 100%;
                }
            }
        }
    }
}


@media screen and (min-width: 720px){
    main{
        position: relative;
        padding: 20px 50px;
        
        .white_square{
            margin: 0;
            max-width: 1100px;

            .commande-responsive{ 

                form{
                    display: grid;
                    grid-template-columns: 50% auto;
                    column-gap: 30px;
                    max-width: 100%;
                }
            }

            .contact-responsive{
                display: grid;
                grid-template-columns: 70% auto;
                column-gap: 30px;
                max-width: 100%;
                
                .info_contact{
                   margin-top: 50px;
                
                    h2{
                        margin-bottom: 0;
                    }

                    p{
                        margin-top: 0;
                    }
                }
            }

            .description-responsive{
                display: grid;
                grid-template-columns: 50% auto;
                column-gap: 30px;
                max-width: 100%;

                img{
                    width: 100%;
                    height: auto;
                }

                h3{
                    margin-top: 0;
                }

                .description_text{
                    display: block;
                }            
                
                div, p{
                    padding: 0;
                    margin: 0;
                    display: inline;
                }

               .description_bot{
                   display: grid;
                   grid-template-columns: 15% 20% 15% 45% 5%;
                   column-width: auto;
                   padding: 20px 5px;
                }
            }

            .inscription-responsive{
                
                form{
                    display: grid;
                    grid-template-columns: auto auto;
                    column-gap: 30px;
                    max-width: 100%;

                    .email{
                        grid-row: 1;
                        grid-column: 1;
                    }

                    .mdp{
                        grid-row: 2;
                        grid-column: 1;
                    }
                    
                    .mdp_confirmation{
                        grid-row: 2;
                        grid-column: 2;
                    }
                    
                    .prénom{
                        grid-row: 3;
                        grid-column: 1;
                    }

                    .nom{
                        grid-row: 3;
                        grid-column: 2;
                    }

                    .birthday{
                        grid-row: 4;
                        grid-column: 1;
                    }

                    .CGV{
                        grid-row: 5;
                        grid-column: 1;
                    }

                    .inscription{
                        width: 35%;
                        grid-row: 6;
                        grid-column: 1;
                    }
                }
            }
        }

        .produits-responsive{
            display: grid;
            grid-template-columns: 30% auto;
            
            .white_square{
                height: 30%;
                max-width: 75%;
            }
   
            .articles_box{

                .articles_list{
                    display: grid;
                    grid-template-columns: auto auto;
                    column-gap: 30px;
                    max-width: auto;

                    .article{
                        max-width: 100%;
                    }

                    .pc_gamer_hp{
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: auto;  
                    }
                }
            }    
        }
    
        .panier-responsive{
        
            .hidden_content_panier, .content_panier{
                display: grid;
                grid-template-columns: 30% 15% 15% 15% 15% 10% ;
                column-gap: 0;

                form{
                    height: 35px;
                }
            }

            .cart_bot{
                display: grid;
                grid-template-columns: 85% auto;
            }
        }

        .index-selection{

            .white_square{
                height: auto;
                max-width: 100%;
            }

            .a_la_une-grid{

                .articles_box{

                    .articles_list{
                        display: grid;
                        grid-template-columns: auto auto;
                        column-gap: 30px;
                        max-width: auto;
    
                        .article{
                            max-width: 100%;
                        }
    
                        .pc_gamer_hp{
                            width: auto;
                            height: auto;
                            max-width: 100%;
                            max-height: auto;  
                        }
                    }
                }

                .white_square{
                    max-width: 70%;
                    max-height: 30%;

                    .connexion{

                        .cogoogle{
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 1100px){
    main{
        padding: 20px 250px;
        
        .white_square{
            margin: 0;
        }

        .produits-responsive{
            
            .white_square{
                height: 35%;
                width: 70%;
            }
            
            
            .articles_box{
                max-width: 550px;

                .articles_list{
                    grid-template-columns: auto auto auto;
                    
                    .pc_gamer_hp{
                        max-width: 100%;
                        max-height: auto;  
                    }
                }
            }
        }

        .index-selection{

            .white_square{
                height: auto;
                max-width: 100%;
            }
   
            .a_la_une-grid{
                
                .articles_box{
                    max-width: auto;

                    .articles_list{
                        grid-template-columns: auto auto auto;
                    }
                }

                .white_square{
                    max-width: 70%;
                    max-height: 50%;
                }
            }
        }
    }
}