main{
    background-color: $mainBG;
    padding: 20px;
    position: relative;

    nav{
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .home_icon, p, a{
            margin-right: 10px;
        }

        .home_icon{
            background-color: $white;
            color: $blue2;
            font-size: 26px;
            padding: 15px 15px;
            display: flex;
            justify-content: center;
        }

        p{
            color: $orange;
            font-weight: bold;
           }
        
        a{
            background-color: $white;
            padding: 15px 15px;
            justify-content: center;
          }
    }

    .big_title, .white_square .filter{
        font-weight: normal;
        color: $blue2;
    }

    .white_square{
        background-color: $white;
        padding: 20px;
        margin: 15px 0;

        .index_img{
            background: url("../../img/indeximg.jpg");
        }

        .white_square_title{
            color: $blue2;
            font-weight: bold;
            font-size: 28px;
        }

        .date{
            color: $blue2;
        }

        .maj{
            color: black;
            display: flex;
            justify-content: flex-end;
        }

        .cart_top p, .cart_top form{
            color: black;
            border-bottom: solid 1px $blue2;
            padding: 20px 10px 10px 20px;
            display: block;
        }

        label{
            display: block;
            color: $blue2;
            font-weight: bold;
            font-size: 20px;
        }

        #quantity{
            border: none;
            border-bottom: solid 1px $blue2;
        }

        .value label{
            color: black;
            font-weight: normal;
        }
        
        .value #quantity{
            padding-left: 10px;
            border: none;
            border-bottom: solid 1px $blue2;
            width: 100%;
            margin-bottom: 30px;
        }

        .slider{
            width: 100%;
        }

        .cart_bot p{
            color: black;
            padding: 20px 10px 10px 20px;
            display: block;
            text-align: right;
        }
        
        .cart_bot .price{
            color: $blue2;
            margin-bottom: 30px;
        }

        #email, #password{
            display: inline;
            border-style: none;
            border-bottom: solid 1px $blue2;
            margin: 10px 0;
            width: 100%;
        }

        .font_align_right{
            position: relative;

            #rue, #num_maison, #localité, #code_postal, #email, #mdp, #prénom, #nom, #birthday, #telephone ,#sujet{
                display: inline;
                border-style: none;
                border-bottom: solid 1px $blue2;
                margin: 10px 0 30px 0;
                width: 100%;
                max-width: 100%;
            }

            #pays, #moyen_de_paiement{
                background-color: $mainBG;
                margin-bottom: 20px;
            }
        }
        
        #rue, #num_maison, #localité, #code_postal, #email, #mdp, #prénom, #nom, #birthday, #telephone ,#sujet{
            display: inline;
            border-style: none;
            border-bottom: solid 1px $blue2;
            margin: 10px 0 30px 0;
            width: 100%;
            max-width: 100%;
        }

        .commande .fa-home, .commande .fa-tag, .commande .fa-industry, .commande .fa-globe, .commande .fa-credit-card{
            position: absolute;
            right: 0;
            bottom: 35px;
        }

        .CGV{
            display: flex;
            flex-direction: row;
            
                #CGV{
                    display: inline;
                }
                
                label{
                    width: auto;
                    min-width: 0;
                    padding-bottom: 20px;
                }

            }

        .checkboxes label, .checkboxes input{
            color: black;
            display: inline-block;
            font-weight: normal;
            font-size: 16px;
        }

        .vconnexion{
            color: $white;
            background-color: $blue1;
            border-color: $blue1;
            border-style: solid;
            margin: 10px 0;
            padding: 5px;
            margin-bottom: 40px; 
            border-radius: 5px;
            display: block;
        }

        .valider{
            color: $white;
            background-color: $blue1;
            border-color: $blue1;
            border-style: solid;
            margin: 10px 0;
            padding: 5px;
            margin-bottom: 40px; 
            border-radius: 5px;
            display: inline-block;
        }

        .align_right{
            display: flex;
            justify-content: flex-end;
        }
            
        .passer_commande{
            color: $white;
            background-color: $blue1;
            border-color: $blue1;
            border-style: solid;
            margin: 10px 0;
            padding: 5px;
            margin-bottom: 40px; 
            border-radius: 5px;
            text-decoration: none;
        }

        .inscription{
            color: $white;
            background-color: $blue1;
            border-color: $blue1;
            border-style: solid;
            padding: 10px;
            margin-bottom: 10px;
            width: auto;
            min-width: 0;
            display: table;
            border-radius: 5px;
            text-decoration: none;
            }

        .cogoogle{
            color: $blue1;
            border-color: $blue1;
            border-style: solid;
            padding: 10px;
            margin: 10px 0;
            width: 160px;
            display: flex;
            align-items: center;
            vertical-align: middle;
            border-radius: 5px;

            img{
                height: 20px;
                width: 20px;
                padding: 5px;
                text-align: center;
            }
        }

        .article{
            background-color: $white;
            padding: 20px;
            margin: 15px 0;
            position: relative;

            .pc_gamer_hp{
                height: 200px;
                width: 200px;
                margin: 0;
            }
            
            h2{
                color: $blue2;
                border-bottom: 1px solid $blue2;
                width: auto;
                min-width: 0;
                display: table;
            }

            p{
                color: black;
                font-size: 14px;
                display: block;
            }
                    
            .achat p{
                color: $orange;
                font-size: 18px;
                display: inline;
            }

            .achat button{
                background-color: $blue1;
                color: $white;
                border-radius: 2px;
                border: $blue1;
                padding: 10px 10px;
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }        

        .description{
                display: block;
                padding: 10px 0;
            
                p{
                    color: gray;
                    display: block;
                    padding-bottom: 5px;
                }

                .achat p{
                    color: $orange;
                    font-size: 18px;
                    padding: 10px 0;
                }

                button{
                    background-color: $blue1;
                    color: $white;
                    border-radius: 2px;
                    border: $blue1;
                    padding: 10px 10px;
                }
            }

    .button_number button{
        color: $blue2;
        border: $blue2 1px solid;
    }

    .button_number .button_on{
        color: $orange;
        border: $orange 1px solid;
    }

    .info_contact p{
        color: black;
        font-weight: normal;
        display: block;
    }

    .saint_laurent_map{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        display: table;
    }

    .ecranAOC{
        height: 100%;
        width: 100%;
    }

    .description h3{
        color: $blue2;
        font-size: 20px;
    }
    }
}